// ==========================================================================
// COMPONENTS/_GLOBAL.SCSS
// ==========================================================================

.container-fluid {
  max-width: 960px;
  margin: 0 auto;
}

.section-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
